<div class="container cabezal">
  <div class="row">
    <div class="mx-auto text-center">
      <img src="/assets/images/logo.png" alt="Solanas" />
    </div>
  </div>
</div>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" *ngFor="let r of rangos">
    <a [ngClass]="{'active': r.id==1, 'nav-link':r.id > 0}" id="home-tab" data-toggle="tab" href="#{{r.id}}" role="tab" aria-controls="home"
      aria-selected="true">{{r.nombre}}</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div [ngClass]="{'active': rango.id==1, 'tab-pane':rango.id > 0, 'fade':rango.id > 0,  'show':rango.id > 0}" id="{{rango.id}}"
    role="tabpanel" *ngFor="let rango of rangos">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Hora</th>
          <th scope="col">Actividad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of lista[rango.id]">
          <td>{{l.hora}}</td>
          <td>{{l.titulo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>